/*
    RESET
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
 ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
     GLOBAL
*/

* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}

body, html  {
    height: 100%;
}

section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 70px;
    padding-top: 50px;
}

main {
    padding-top: 150px;
    min-height: 100vh;
    background-color: #FFEA00;
}

body, nav, section {
    width: 100%;
}

img {
    max-width: 100%;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #FFEA00;
    padding: 3em 0 1em;
    text-align: center;
}

@keyframes Bganimate {
    from {
        background-position: 0 0
    }
    to {
        background-position: 200% 0
    }
}

header h1 {
    font-size: 3em;
    font-family: 'Luckiest Guy', cursive;
    background: url("../images/color.png");
    text-transform: uppercase;
    text-align: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: Bganimate 2s linear infinite;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
}

nav li a {
    line-height: 44px;
    color: #222;
    margin-right: 20px;
}

section ol {
    list-style-position: inside;
}

section li {
    margin: 0.5em auto 0;
    font-size: 2em;
    color: #FF005C;
    text-align: center;
}

section a {
    width: 100%;
    display: block;
    color: #FF005C;
    font-size: 0.5em;
}

section:nth-of-type(odd){
    background-color: #FFEA00;
}

section:nth-of-type(even) {
    background-color: #FFEA00;
}

section.hidden {
    display: none;
}
figure {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

figure img {
    margin: auto;
    display: block;
}

figcaption {
    color: #222;
    font-size: 1.5em;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
}

#home h1 {
    font-size: 3em;
    text-align: center;
}

#home p {
    text-align: center;
    width: 70%;
    margin: auto;
}
#home span {
    font-weight: 600;
}
@keyframes spinning {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(359deg);
    }
}

.loader {
    z-index: 1;
    opacity: 0;
    top: 0;
    bottom: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: calc(100vh - 180px);
    margin-top: 180px;
    background-color: #FFEA00;
    transition: opacity 300ms ease 300ms, visibility 0s ease 600ms;
}

.error span {
    display: block;
    padding-bottom: 10px;
    font-size: 2em;
}

.error {
    z-index: 2;
    opacity: 0;
    top: 0;
    bottom: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: calc(100vh - 180px);
    margin-top: 180px;
    text-align: center;
    background-color: #FFEA00;
    transition: opacity 300ms ease 300ms, visibility 0s ease 600ms;
}

.error p {
    width: 70%;
    margin: auto;
}

.loader.active, .error.active {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s ease 300ms
}

.sort {
    width: 11em;
    margin: auto;
    padding-bottom: 15px;
}

.sort input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.sort input[type="checkbox"] + label {
    position: relative;
    width: auto;
    display: inline-block;
    cursor: pointer;
    padding-left: 1.5em;
}

.sort input[type="checkbox"] + label:focus {
    color: #FF005C;
}

.sort input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: #FFF;
    border: 1px solid #222;
}

.sort  input[type="checkbox"]:checked + label:before {
    background-color: #FF005C;
}

.loader img {
    display: block;
    width: 60px;
    margin: 50px auto;
    animation: spinning 1.5s ease-in-out infinite;
}